.buttonDisplay {
  text-align: center;
  margin-top: 2rem;
}

.addItemButton {
  background-color: rgb(6, 214, 160);
  margin: 0 auto;
  padding: 0.5rem 2rem;
  border: None;
  color: #ffff;
  border-radius: 0.5rem;
  text-decoration: none;
}
