.buttonDisplay {
  text-align: center;
}

.addItemButton {
  background-color: #26bbac;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  font-size: 0.6rem;
  border: None;
  color: #ffff;
  border-radius: 0.5rem;
  text-decoration: none;
}

.error {
  color: red;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
