.addItemButton {
  background-color: #26bbac;
  margin: 0 auto;
  padding: 0.7rem 2rem;
  font-size: 0.7rem;
  border: None;
  color: #ffff;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

.addItemButton:active {
  transform: scale(1.2);
}

.error {
  color: red;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
