.styledCard {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto 3rem auto;
  border: 1px solid #26bbac;
  border-radius: 0.5rem;
  width: 70%;
}

.input {
  height: 1.5rem;

  border-radius: 0.3rem;
  border: 1px solid #3d3f40;
  background-color: #faf9f6;
  margin-top: 0.3rem;
}

.name {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  color: #3d3f40;
}
.addContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
