.headerLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #3d3f40;
  max-width: 80%;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
}

.title {
  margin: 0 auto 3rem auto;
  color: #3d3f40;
}
