.headerLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid black;
  max-width: 80%;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
}

.title {
  margin: 0 auto 3rem auto;
}
