.headerLayout {
  /* display children in row centered vertically */
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #545454;
  margin: 0 auto 2rem auto;
  padding-left: 2rem;
}

.logo {
  padding-top: 0.7rem;
}

.dashLink,
.paddockLink {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
  margin: 0 1rem;
}
.headerLinks{
  margin-right: 1rem;
}
