.itemCard {
  padding: 1rem;
  font-size: 1rem;
  background-color: #faf9f6;
  width: 80%;
  margin: 0 auto 1rem auto;
  border-radius: 0.5rem;
  border: 1px solid #26bbac;
  color: #3d3f40;
}

.tick {
  float: left;
  background-color: rgb(17, 138, 178);
  border-radius: 50%;
  border: none;
}
