.itemCard {
  padding: 1.5rem;
  font-size: 1.5rem;
  background-color: #ffff;
  width: 80%;
  margin: 0 auto 1rem auto;
  border-radius: 0.5rem;
}

.tick {
  float: left;
  background-color: rgb(17, 138, 178);
  border-radius: 50%;
  border: none;
}
