.sprayDetails {
  background-color: #ffff;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.sprayMixDisplay {
  margin: 0 auto 2rem auto;
  text-align: center;
}
.editBtn {
  background-color: #26bbac;
  text-decoration: none;
  border-radius: 0.5rem;
  color: #ffff;
  font-size: 0.6rem;
  width: 30%;
  padding: 0.5rem 0.8rem;
}

.noSprayMessage {
  background-color: #ffff;
  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
}
.formName {
  border-radius: 0.3rem;
  border: none;
  margin: 0.5rem auto;
  width: 90%;
  font-size: 1rem;
}

.formLabel {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #3d3f40;
}

.formName:focus {
  outline: none;
}

.deleteBut {
  background-color: #b44526;
  border-radius: 0.5rem;
  color: #ffff;
  /* width: 30%; */
  padding: 0.5rem 0.8rem;
  font-size: 0.6rem;
  border: none;
}

.buttonGroup {
  display: flex;
  justify-content: space-around;
}
.sprayList {
  list-style-type: none;
  padding-left: 0;
}
