.detailsCard {
  text-align: center;
  padding: 1rem 0;
  margin: 0 auto;
}

.sprayType {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.sprayName {
  margin-bottom: 0.3rem;
}

.sprayDetails {
  background-color: #ffff;
  width: 90%;
  padding: 1rem;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #26bbac;
}
.sprayMixCard {
  background-color: #ffff;
  width: 90%;
  padding: 1rem;
  margin: 0.8rem auto;
  border-radius: 0.5rem;
  border: 1px solid #26bbac;
}

.editBtn {
  padding: 0.5rem;
  background-color: #26bbac;
  text-decoration: none;
  border-radius: 0.5rem;
  color: #ffff;
  font-size: 0.6rem;
}
.labels {
  padding-top: 1.5rem;
  text-align: left;
  width: 86%;
  margin: 0 auto;
}

.sprayTitleDisplay {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.submitBtn {
  padding: 0.5rem;
  background-color: #26bbac;
  text-decoration: none;
  border-radius: 0.5rem;
  color: #ffff;
  font-size: 0.6rem;
  margin: 0.5rem auto;
  border: none;
  padding: 0.7rem 1rem;
}
.sprayList {
  padding: 0;
}
