.detailsCard {
  text-align: center;
  padding: 1rem 0;
  margin: 0 auto;
}

.sprayType {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.sprayName {
  margin-left: 1rem;
}

.sprayDetails {
  background-color: #ffff;
  width: 90%;
  padding: 1rem;
  margin: 0.5rem auto;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #26bbac;
}
.sprayMixCard {
  background-color: #ffff;
  width: 90%;
  padding: 1rem;
  margin: 0.8rem auto;
  border-radius: 0.5rem;
  border: 1px solid #26bbac;
}

.editBtn {
  padding: 0.5rem;
  background-color: #26bbac;
  text-decoration: none;
  border-radius: 0.5rem;
  color: #ffff;
  font-size: 0.6rem;
  border:none;
  cursor: pointer;
}
.labels {
  padding-top: 1.5rem;
  text-align: left;
  width: 86%;
  margin: 0 auto;
}

.sprayTitleDisplay {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.submitBtn {
  padding: 0.5rem;
  background-color: #26bbac;
  text-decoration: none;
  border-radius: 0.5rem;
  color: #ffff;
  font-size: 0.6rem;
  margin: 0.5rem auto;
  border: none;
  padding: 0.7rem 1rem;
  cursor: pointer;
}
.sprayList {
  padding: 0;
  border: 1px solid black;
  border-radius: 0.5rem;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 1.5rem auto;
  padding: 1rem;
}

.commentInput {
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #26bbac;
  background-color: #ffff;
}

.commentInputValue {
  width: 90%;
  margin: 1rem;
}

.sprayMixTitleCont{
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:2rem;
 align-items: center;
 margin: 0.5rem 1rem;
}

.mixTitle{
  font-weight: bold;
}