.main {
  max-width: 35rem;
  margin: 1rem auto 0 auto;
}

.title {
  color: #545454;
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1.7rem;
}

.addingButton {
  background-color: #26bbac;
  color: #ffff;
  padding: 0.6rem;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.6rem;
  white-space: nowrap;
  cursor: pointer;
}
.addingButton:focus {
  outline: none;
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.addButtonDisplay {
  text-align: center;
  margin: 0 auto;
  width: 55%;
  cursor: pointer;
}

.logoFont {
  font-family: "Pathway Gothic One", sans-serif;
  color: green;
  font-size: 1.5rem;
  margin-left: -1rem;
}

.styledNext {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 2rem auto;
  cursor: pointer;
}

.next {
  text-decoration: none;
  background-color: #26bbac;
  color: #ffff;
  padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  border-radius: 0.5rem;
  font-size: 0.6rem;
  border:none;
  cursor: pointer;
}

.next:active {
  transform: scale(1.2);
}
.disabledNext {
  text-decoration: none;
  background-color: #26bbac;
  color: #ffff;
  padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.6rem;
  cursor: pointer;
}

.disabledNext:active {
  transform: scale(1.2);
}

.addDataButton {
  background-color: #26bbac;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  border: None;
  color: #ffff;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
}

.addDataButton:active {
  transform: scale(1.2);
}

.deleteButton {
  text-decoration: none;
  background-color: #b44526;
  color: #ffff;
  padding: 0.6rem 1.1rem 0.6rem 1.1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.6rem;
  cursor: pointer;
}

.deleteButton:active {
  transform: scale(1.2);
}

.messageDisplay {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.error {
  color: red;
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
}

.cardBackground {
  border-radius: 0.5rem;
  width: 95%;
  max-width: 30rem;
}

.addPageButtonDisplay {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

@media screen and (min-width: 500px) {
  .styledNext {
    max-width: 500px;
  }
}
